In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df=pd.read_excel('LUCAS-SOIL-2018.xls')

In [32]:
#First filter the points only for Sweden
#df = df[df['NUTS_0']=='SE']
df.shape

(18984, 27)

In [33]:
for col in ['P', 'N', 'K']:
    df.loc[df[col]=='< LOD', col] = np.nan
    df.loc[df[col]=='<0.0', col] = np.nan
    df[col]=df[col].astype(float)
for col in ['OC','CaCO3','OC (20-30 cm)','CaCO3 (20-30 cm)']:
    df.loc[df[col]=='< LOD', col] = np.nan
    df.loc[df[col]=='<  LOD', col] = np.nan
    df.loc[df[col]=='<0.0', col] = np.nan
    df[col]=df[col].astype(float)

for col in ['NUTS_0','NUTS_1','NUTS_2','NUTS_3','LC','LU','LC0_Desc','LC1_Desc','LU1_Desc']:
    df[col]=df[col].astype('category')

df.dtypes



cols = df.columns
for c in cols:
    if df[c].dtype == 'object':
        df[c] = df[c].str.strip()

df.dtypes

Depth                 object
POINTID                int64
pH_CaCl2             float64
pH_H2O               float64
EC                   float64
OC                   float64
CaCO3                float64
P                    float64
N                    float64
K                    float64
OC (20-30 cm)        float64
CaCO3 (20-30 cm)     float64
Ox_Al                float64
Ox_Fe                float64
NUTS_0              category
NUTS_1              category
NUTS_2              category
NUTS_3              category
TH_LAT               float64
TH_LONG              float64
SURVEY_DATE           object
Elev                   int64
LC                  category
LU                  category
LC0_Desc            category
LC1_Desc            category
LU1_Desc            category
dtype: object

In [34]:
df.head(2)

,Depth,POINTID,pH_CaCl2,pH_H2O,EC,OC,CaCO3,P,N,K,...,NUTS_3,TH_LAT,TH_LONG,SURVEY_DATE,Elev,LC,LU,LC0_Desc,LC1_Desc,LU1_Desc
0,0-20 cm,47862690,4.1,4.81,8.73,12.4,3.0,NaN,1.1,101.9,...,AT113,47.150238,16.134212,06/07/18,291,C23,U120,Woodland,Other coniferous woodland,Forestry
1,0-20 cm,47882704,4.1,4.93,5.06,16.7,1.0,NaN,1.3,51.2,...,AT113,47.274272,16.175359,06/07/18,373,C21,U120,Woodland,Spruce dominated coniferous woodland,Forestry

In [35]:
df['SURVEY_DATE']=pd.to_datetime(df['SURVEY_DATE'], format='%d/%m/%y')
df.head()

,Depth,POINTID,pH_CaCl2,pH_H2O,EC,OC,CaCO3,P,N,K,...,NUTS_3,TH_LAT,TH_LONG,SURVEY_DATE,Elev,LC,LU,LC0_Desc,LC1_Desc,LU1_Desc
0,0-20 cm,47862690,4.1,4.81,8.73,12.4,3.0,NaN,1.1,101.9,...,AT113,47.150238,16.134212,2018-07-06,291,C23,U120,Woodland,Other coniferous woodland,Forestry
1,0-20 cm,47882704,4.1,4.93,5.06,16.7,1.0,NaN,1.3,51.2,...,AT113,47.274272,16.175359,2018-07-06,373,C21,U120,Woodland,Spruce dominated coniferous woodland,Forestry
2,0-20 cm,47982688,4.1,4.85,12.53,47.5,1.0,12.3,3.1,114.8,...,AT113,47.123260,16.289693,2018-06-02,246,C33,U120,Woodland,Other mixed woodland,Forestry
3,0-20 cm,48022702,5.5,5.80,21.10,28.1,3.0,NaN,2.0,165.8,...,AT113,47.245693,16.357506,2018-07-06,305,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry
4,0-20 cm,48062708,6.1,6.48,10.89,19.4,2.0,NaN,2.2,42.1,...,AT113,47.296372,16.416782,2018-07-05,335,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry

In [36]:
df.head(20)

,Depth,POINTID,pH_CaCl2,pH_H2O,EC,OC,CaCO3,P,N,K,...,NUTS_3,TH_LAT,TH_LONG,SURVEY_DATE,Elev,LC,LU,LC0_Desc,LC1_Desc,LU1_Desc
0,0-20 cm,47862690,4.1,4.81,8.73,12.4,3.0,NaN,1.1,101.9,...,AT113,47.150238,16.134212,2018-07-06,291,C23,U120,Woodland,Other coniferous woodland,Forestry
1,0-20 cm,47882704,4.1,4.93,5.06,16.7,1.0,NaN,1.3,51.2,...,AT113,47.274272,16.175359,2018-07-06,373,C21,U120,Woodland,Spruce dominated coniferous woodland,Forestry
2,0-20 cm,47982688,4.1,4.85,12.53,47.5,1.0,12.3,3.1,114.8,...,AT113,47.123260,16.289693,2018-06-02,246,C33,U120,Woodland,Other mixed woodland,Forestry
3,0-20 cm,48022702,5.5,5.80,21.10,28.1,3.0,NaN,2.0,165.8,...,AT113,47.245693,16.357506,2018-07-06,305,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry
4,0-20 cm,48062708,6.1,6.48,10.89,19.4,2.0,NaN,2.2,42.1,...,AT113,47.296372,16.416782,2018-07-05,335,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry
5,0-20 cm,48122730,6.3,6.81,14.46,18.0,NaN,68.0,2.0,277.2,...,AT111,47.488817,16.520595,2018-06-18,232,B18,U111,Cropland,Triticale,Agriculture (excluding fallow land and kitchen...
6,0-20 cm,48202738,5.8,6.37,17.08,12.5,NaN,58.1,1.4,315.5,...,AT111,47.554102,16.635559,2018-06-18,283,B32,U111,Cropland,Rape and turnip rape,Agriculture (excluding fallow land and kitchen...
7,0-20 cm,48222780,7.1,7.98,23.55,22.9,96.0,17.5,2.1,329.1,...,AT112,47.928696,16.711158,2018-05-21,136,B82,U111,Cropland,Vineyards,Agriculture (excluding fallow land and kitchen...
8,0-20 cm,48342774,7.4,8.09,22.61,29.1,86.0,62.2,2.9,367.8,...,AT112,47.865059,16.863852,2018-06-26,115,B32,U111,Cropland,Rape and turnip rape,Agriculture (excluding fallow land and kitchen...
9,0-20 cm,48442784,7.2,7.84,14.94,14.4,3.0,NaN,1.6,146.2,...,AT112,47.946158,17.009260,2018-06-11,166,B14,U111,Cropland,Rye,Agriculture (excluding fallow land and kitchen...
10,0-20 cm,48462776,7.6,8.15,30.90,21.8,112.0,22.3,2.0,220.2,...,AT112,47.872833,17.026032,2018-05-14,140,B13,U111,Cropland,Barley,Agriculture (excluding fallow land and kitchen...
11,0-20 cm,48482762,7.4,8.30,23.16,30.0,271.0,28.4,2.7,323.3,...,AT112,47.745787,17.035368,2018-07-03,118,B16,U111,Cropland,Maize,Agriculture (excluding fallow land and kitchen...
12,0-20 cm,46562790,7.1,7.52,14.82,15.2,1.0,44.5,1.9,134.4,...,AT121,48.131649,14.501514,2018-06-07,355,B55,U111,Cropland,Temporary grassland,Agriculture (excluding fallow land and kitchen...
13,0-20 cm,46662780,5.2,5.82,14.37,37.3,NaN,20.2,4.2,115.6,...,AT121,48.036310,14.627389,2018-05-18,341,E20,U111,Grassland,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
14,0-20 cm,46662794,3.9,4.74,12.06,41.2,NaN,19.4,3.8,294.1,...,AT121,48.161997,14.638865,2018-06-05,269,C10,U120,Woodland,Broadleaved woodland,Forestry
15,0-20 cm,46722786,6.4,6.80,15.52,16.9,NaN,53.3,2.1,217.6,...,AT121,48.086764,14.712668,2018-06-05,352,B13,U111,Cropland,Barley,Agriculture (excluding fallow land and kitchen...
16,0-20 cm,46722792,5.4,5.84,28.20,21.0,NaN,22.3,2.5,227.4,...,AT121,48.140626,14.717676,2018-06-05,308,B16,U111,Cropland,Maize,Agriculture (excluding fallow land and kitchen...
17,0-20 cm,46782766,6.8,6.93,46.80,169.8,5.0,17.8,12.1,524.5,...,AT121,47.903757,14.776151,2018-05-18,606,C31,U120,Woodland,Spruce dominated mixed woodland,Forestry
18,0-20 cm,46782778,6.3,6.80,19.56,31.7,NaN,77.2,3.4,368.6,...,AT121,48.011481,14.786259,2018-07-18,464,B55,U111,Cropland,Temporary grassland,Agriculture (excluding fallow land and kitchen...
19,0-20 cm,46842852,5.7,6.11,28.40,38.3,NaN,14.0,4.1,405.5,...,AT124,48.672055,14.931104,2018-06-29,629,E20,U111,Grassland,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...

In [37]:
cols = df.columns.tolist()
for index, c in enumerate(cols):
    cols[index] = c.replace(' ', '_')
df.columns = cols
df.columns

Index(['Depth', 'POINTID', 'pH_CaCl2', 'pH_H2O', 'EC', 'OC', 'CaCO3', 'P', 'N',
       'K', 'OC_(20-30_cm)', 'CaCO3_(20-30_cm)', 'Ox_Al', 'Ox_Fe', 'NUTS_0',
       'NUTS_1', 'NUTS_2', 'NUTS_3', 'TH_LAT', 'TH_LONG', 'SURVEY_DATE',
       'Elev', 'LC', 'LU', 'LC0_Desc', 'LC1_Desc', 'LU1_Desc'],
      dtype='object')

In [38]:
df.dtypes

Depth                       object
POINTID                      int64
pH_CaCl2                   float64
pH_H2O                     float64
EC                         float64
OC                         float64
CaCO3                      float64
P                          float64
N                          float64
K                          float64
OC_(20-30_cm)              float64
CaCO3_(20-30_cm)           float64
Ox_Al                      float64
Ox_Fe                      float64
NUTS_0                    category
NUTS_1                    category
NUTS_2                    category
NUTS_3                    category
TH_LAT                     float64
TH_LONG                    float64
SURVEY_DATE         datetime64[ns]
Elev                         int64
LC                        category
LU                        category
LC0_Desc                  category
LC1_Desc                  category
LU1_Desc                  category
dtype: object

In [39]:
df.to_json('LUCAS-SOIL-all-2018.json', indent=2 , orient='records', date_format='iso', double_precision=10, force_ascii=False, default_handler=None)
print(df.shape)
print('Done!')

(18984, 27)
Done!