In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df=pd.read_excel('LUCAS-SOIL-2018.xls')

In [8]:
df = df[df['NUTS_0']=='SE']
df.shape

(1906, 27)

In [10]:
df.describe()

,POINTID,pH_CaCl2,pH_H2O,EC,CaCO3 (20-30 cm),Ox_Al,Ox_Fe,TH_LAT,TH_LONG,Elev
count,1.906000e+03,1906.000000,1906.000000,1900.000000,0.0,66.000000,66.000000,1906.000000,1906.000000,1906.000000
mean,4.646278e+07,3.967917,4.703806,12.826045,NaN,1.854545,4.089394,61.270910,16.267863,328.735047
std,1.173993e+06,0.825111,0.724075,12.920436,NaN,1.374289,2.442642,3.330711,2.783603,1104.732520
min,4.392399e+07,2.600000,3.380000,1.970000,NaN,0.200000,0.100000,55.411780,11.232474,-34.000000
25%,4.556404e+07,3.400000,4.200000,5.067500,NaN,1.100000,2.500000,58.502914,14.163732,69.250000
50%,4.640382e+07,3.800000,4.530000,8.875000,NaN,1.400000,3.400000,60.530571,15.860769,178.000000
75%,4.722460e+07,4.300000,4.990000,15.550000,NaN,2.100000,5.375000,64.248486,17.773635,320.000000
max,4.950481e+07,7.200000,7.700000,132.600000,NaN,8.900000,11.300000,68.444090,23.809958,10517.000000