In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [82]:
df=pd.read_excel('LUCAS-SOIL-2018.xls')

In [83]:
#First filter the points only for Sweden
df = df[df['NUTS_0']=='SE']
df.shape

(1906, 27)

In [84]:
cols = df.columns
for c in cols:
    if df[c].dtype == 'object':
        df[c] = df[c].str.strip()

df.dtypes

Depth                object
POINTID               int64
pH_CaCl2            float64
pH_H2O              float64
EC                  float64
OC                   object
CaCO3                object
P                    object
N                    object
K                    object
OC (20-30 cm)        object
CaCO3 (20-30 cm)    float64
Ox_Al               float64
Ox_Fe               float64
NUTS_0               object
NUTS_1               object
NUTS_2               object
NUTS_3               object
TH_LAT              float64
TH_LONG             float64
SURVEY_DATE          object
Elev                  int64
LC                   object
LU                   object
LC0_Desc             object
LC1_Desc             object
LU1_Desc             object
dtype: object

In [85]:
df.head(2)

,Depth,POINTID,pH_CaCl2,pH_H2O,EC,OC,CaCO3,P,N,K,...,NUTS_3,TH_LAT,TH_LONG,SURVEY_DATE,Elev,LC,LU,LC0_Desc,LC1_Desc,LU1_Desc
9915,0-10 cm,44983842,3.8,4.11,61.90,NaN,NaN,NaN,NaN,NaN,...,SE232,57.646988,12.961219,08/09/18,106,C31,U120,Woodland,Spruce dominated mixed woodland,Forestry
9916,0-10 cm,45024040,3.4,4.17,7.32,NaN,NaN,NaN,NaN,NaN,...,SE311,59.424224,13.182595,19/09/18,117,C33,U120,Woodland,Other mixed woodland,Forestry

In [86]:
df['SURVEY_DATE']=pd.to_datetime(df['SURVEY_DATE'], format='%d/%m/%y')
df.head()

,Depth,POINTID,pH_CaCl2,pH_H2O,EC,OC,CaCO3,P,N,K,...,NUTS_3,TH_LAT,TH_LONG,SURVEY_DATE,Elev,LC,LU,LC0_Desc,LC1_Desc,LU1_Desc
9915,0-10 cm,44983842,3.8,4.11,61.90,NaN,NaN,NaN,NaN,NaN,...,SE232,57.646988,12.961219,2018-09-08,106,C31,U120,Woodland,Spruce dominated mixed woodland,Forestry
9916,0-10 cm,45024040,3.4,4.17,7.32,NaN,NaN,NaN,NaN,NaN,...,SE311,59.424224,13.182595,2018-09-19,117,C33,U120,Woodland,Other mixed woodland,Forestry
10258,0-10 cm,45143854,3.1,4.06,5.77,NaN,NaN,< LOD,NaN,NaN,...,SE232,57.748526,13.238009,2018-09-20,225,C21,U120,Woodland,Spruce dominated coniferous woodland,Forestry
10259,0-10 cm,45183718,5.5,5.98,26.44,NaN,NaN,NaN,NaN,NaN,...,SE231,56.525760,13.199474,2018-10-20,10,E20,U111,Grassland,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
10261,0-10 cm,45743828,4.2,4.62,5.17,NaN,NaN,NaN,NaN,NaN,...,SE211,57.487029,14.215925,2018-09-25,228,C23,U120,Woodland,Other coniferous woodland,Forestry

In [87]:
for col in ['P', 'N', 'K']:
    df.loc[df[col]=='< LOD', col] = np.nan
    df.loc[df[col]=='<0.0', col] = np.nan
    df[col]=df[col].astype(float)

In [88]:
for col in ['OC','CaCO3','OC (20-30 cm)','CaCO3 (20-30 cm)']:
    df.loc[df[col]=='< LOD', col] = np.nan
    df.loc[df[col]=='<  LOD', col] = np.nan
    df.loc[df[col]=='<0.0', col] = np.nan
    df[col]=df[col].astype(float)

for col in ['NUTS_0','NUTS_1','NUTS_2','NUTS_3','LC','LU','LC0_Desc','LC1_Desc','LU1_Desc']:
    df[col]=df[col].astype('category')

df.dtypes

Depth                       object
POINTID                      int64
pH_CaCl2                   float64
pH_H2O                     float64
EC                         float64
OC                         float64
CaCO3                      float64
P                          float64
N                          float64
K                          float64
OC (20-30 cm)              float64
CaCO3 (20-30 cm)           float64
Ox_Al                      float64
Ox_Fe                      float64
NUTS_0                    category
NUTS_1                    category
NUTS_2                    category
NUTS_3                    category
TH_LAT                     float64
TH_LONG                    float64
SURVEY_DATE         datetime64[ns]
Elev                         int64
LC                        category
LU                        category
LC0_Desc                  category
LC1_Desc                  category
LU1_Desc                  category
dtype: object

In [89]:
df.head(20)

,Depth,POINTID,pH_CaCl2,pH_H2O,EC,OC,CaCO3,P,N,K,...,NUTS_3,TH_LAT,TH_LONG,SURVEY_DATE,Elev,LC,LU,LC0_Desc,LC1_Desc,LU1_Desc
9915,0-10 cm,44983842,3.8,4.11,61.90,NaN,NaN,NaN,NaN,NaN,...,SE232,57.646988,12.961219,2018-09-08,106,C31,U120,Woodland,Spruce dominated mixed woodland,Forestry
9916,0-10 cm,45024040,3.4,4.17,7.32,NaN,NaN,NaN,NaN,NaN,...,SE311,59.424224,13.182595,2018-09-19,117,C33,U120,Woodland,Other mixed woodland,Forestry
10258,0-10 cm,45143854,3.1,4.06,5.77,NaN,NaN,NaN,NaN,NaN,...,SE232,57.748526,13.238009,2018-09-20,225,C21,U120,Woodland,Spruce dominated coniferous woodland,Forestry
10259,0-10 cm,45183718,5.5,5.98,26.44,NaN,NaN,NaN,NaN,NaN,...,SE231,56.525760,13.199474,2018-10-20,10,E20,U111,Grassland,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...
10261,0-10 cm,45743828,4.2,4.62,5.17,NaN,NaN,NaN,NaN,NaN,...,SE211,57.487029,14.215925,2018-09-25,228,C23,U120,Woodland,Other coniferous woodland,Forestry
10262,0-10 cm,45784544,3.7,4.32,3.77,NaN,NaN,NaN,NaN,NaN,...,SE322,63.914409,15.212437,2018-07-14,374,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry
10263,0-10 cm,45883824,3.6,4.22,14.60,NaN,NaN,NaN,NaN,NaN,...,SE211,57.443531,14.444353,2018-08-25,237,C21,U120,Woodland,Spruce dominated coniferous woodland,Forestry
10264,0-10 cm,46064260,3.2,4.03,12.35,NaN,NaN,NaN,NaN,NaN,...,SE312,61.344332,15.312293,2018-08-21,386,C31,U120,Woodland,Spruce dominated mixed woodland,Forestry
10266,0-10 cm,46184106,3.2,4.21,11.32,NaN,NaN,NaN,NaN,NaN,...,SE312,59.954523,15.307497,2018-10-04,336,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry
10597,0-10 cm,46284116,3.4,4.32,17.17,NaN,NaN,NaN,NaN,NaN,...,SE312,60.037356,15.500094,2018-10-03,151,C31,U120,Woodland,Spruce dominated mixed woodland,Forestry
10598,0-10 cm,46364128,3.4,4.25,32.70,NaN,NaN,NaN,NaN,NaN,...,SE312,60.139296,15.660905,2018-09-27,139,C33,U120,Woodland,Other mixed woodland,Forestry
11070,0-10 cm,46424094,3.2,3.85,14.20,NaN,NaN,NaN,NaN,NaN,...,SE125,59.830163,15.716427,2018-09-25,165,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry
11071,0-10 cm,46624252,2.9,3.60,18.48,NaN,NaN,NaN,NaN,NaN,...,SE313,61.231035,16.336737,2018-09-03,194,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry
11297,0-10 cm,46803982,3.3,4.20,14.45,NaN,NaN,NaN,NaN,NaN,...,SE123,58.798102,16.207330,2018-06-25,62,C22,U120,Woodland,Pine dominated coniferous woodland,Forestry
12033,0-10 cm,46884114,3.2,4.06,23.70,NaN,NaN,NaN,NaN,NaN,...,SE125,59.973562,16.565930,2018-09-11,86,C10,U120,Woodland,Broadleaved woodland,Forestry
12035,0-10 cm,46904136,3.6,4.30,16.09,NaN,NaN,NaN,NaN,NaN,...,SE125,60.168864,16.640300,2018-09-10,83,C23,U120,Woodland,Other coniferous woodland,Forestry
12310,0-10 cm,46984252,3.2,4.15,21.40,NaN,NaN,NaN,NaN,NaN,...,SE313,61.200475,17.001527,2018-08-31,28,C23,U120,Woodland,Other coniferous woodland,Forestry
14244,0-10 cm,47444748,3.3,4.14,NaN,NaN,NaN,NaN,NaN,NaN,...,SE332,65.591466,19.134089,2018-07-11,400,C33,U120,Woodland,Other mixed woodland,Forestry
15236,0-10 cm,47625018,3.8,4.55,4.77,NaN,NaN,NaN,NaN,NaN,...,SE332,67.981717,20.478959,2018-08-30,436,C10,U120,Woodland,Broadleaved woodland,Forestry
15237,0-10 cm,47765016,4.1,4.86,4.09,NaN,NaN,NaN,NaN,NaN,...,SE332,67.944408,20.797815,2018-08-30,328,C32,U120,Woodland,Pine dominated mixed woodland,Forestry

In [90]:
cols = df.columns.tolist()
for index, c in enumerate(cols):
    cols[index] = c.replace(' ', '_')
df.columns = cols
df.columns

Index(['Depth', 'POINTID', 'pH_CaCl2', 'pH_H2O', 'EC', 'OC', 'CaCO3', 'P', 'N',
       'K', 'OC_(20-30_cm)', 'CaCO3_(20-30_cm)', 'Ox_Al', 'Ox_Fe', 'NUTS_0',
       'NUTS_1', 'NUTS_2', 'NUTS_3', 'TH_LAT', 'TH_LONG', 'SURVEY_DATE',
       'Elev', 'LC', 'LU', 'LC0_Desc', 'LC1_Desc', 'LU1_Desc'],
      dtype='object')

In [91]:
df.dtypes

Depth                       object
POINTID                      int64
pH_CaCl2                   float64
pH_H2O                     float64
EC                         float64
OC                         float64
CaCO3                      float64
P                          float64
N                          float64
K                          float64
OC_(20-30_cm)              float64
CaCO3_(20-30_cm)           float64
Ox_Al                      float64
Ox_Fe                      float64
NUTS_0                    category
NUTS_1                    category
NUTS_2                    category
NUTS_3                    category
TH_LAT                     float64
TH_LONG                    float64
SURVEY_DATE         datetime64[ns]
Elev                         int64
LC                        category
LU                        category
LC0_Desc                  category
LC1_Desc                  category
LU1_Desc                  category
dtype: object

In [92]:
df.to_json('LUCAS-SOIL-2018.json', orient='records', date_format='iso', double_precision=10, force_ascii=False, default_handler=None)
print(df.shape)
print('Done!')

(1906, 27)
Done!